#img1{
    width: 400px;
    height: 566px;
}

#music{
    float: right;
}

.style{
    width: 150px;
    height: 150px;
}

.box{
    background: #424154;
    width: 400px;
    height:50px;
}

.wrapper{
   float: right;
}

#box1{
    color:white;
    text-align: center;
    margin-bottom:10px;
}

.back{
    background-color: rgba(66,65,84,0.6);

}